<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreamland Restaurant - Awaiting Validation</title>
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/bootstrap/bootstrap-icons-1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/fonts/css/all.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="shortcut icon" href="./assets/app_pics/2-logo.png" type="image/x-icon">

    <script src="./assets/js/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <p class="h1"> Awaiting Validation As A Restaurant Manager</p>
            </div>
        </div>
        <div class="row">
            <form action="/managerCode" method="post">
                <div class="input form-group">
                    <label for="code">Enter Code sent to your email</label>
                    <input type="text" name="code" class="form-control" placeholder="Enter Code">
                </div>
                <button class="btn btn-outline-orange-2 my-2" type="submit">Send</button>
            </form>
        </div>

    </div>
    <script src="./assets/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
