:root{
    --primary-color:orange;
    --sec-color: rgb(255, 166, 0,.5);
    --tet-color:#efd19a;
}

body{
    margin: 0;
}
a{
    color: initial;
    text-decoration: none;
}
a:hover{
    color: inherit;
}
.links{
    text-decoration: none;
    color: inherit;
}
.links:hover{
    color: var(--primary-color);
}
.logo{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: cursive;
}
.logo:hover{
    cursor: pointer;
}
.logo .d{
    color: var(--primary-color);
}
.logo-anchor{
    text-decoration: none;
    color: initial;
}
.logo-anchor:hover{
    color: initial;
}
.greetings{
    margin-top: 1em;
    margin-left: 2em;
    line-height: 0.1em;
}
.p-big{
    font-family: cursive;
}
.p-small{
    font-size: 10px;
    color: var(--primary-color);
    text-wrap: nowrap;
}
ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.8s;
    color: var(--primary-color);
}
ul.row{
    margin-bottom: 0;
}
ul li.col-3{
    display: flex;
    align-items: center;
}
.active3{
    border-bottom: 2px solid var(--primary-color);
}
.mobile-active{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.25)!important;
    background-color: rgba(255, 166, 0,.8); 
    /* background-color: rgb(253, 181, 48); */
}
.mobile-nav-menu div a p{
    color: black;
}
.search-bar{
    display: flex;
    align-items: center;
    width: 60%;
}
.search-bar input{
    padding: .5em 0;
    padding-left: 2em;
}
.fa-button-c{
    background: none;
    border: none;
    padding: 0px;
}
.fa-button-c:hover{
    cursor: pointer;
}
.shadow-2{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.25)!important
}
.shadow-3{
    box-shadow:0 .5rem 1rem rgba(255, 166, 0,.3)!important
}
.cart i:hover, .gugle:hover{
    background-color: rgb(255, 166, 0,.5);
    cursor: pointer;
}
.cart i{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: .9em .87em;
    border-radius: 50px;
}
.account i{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: .9em .87em;
    border-radius: 50px;
}
.account i:hover{
    cursor: pointer;
}
.cart sup{
    width: 2em;
    background-color: orange;
    padding: .95em .78em;
    color: white;
    border-radius: 80px;
}
.mobile-search-icon{
    margin-right: .5em;
    box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.2)!important;
    border-radius: 50%;
    /* padding: .2em .9em; */
}
.l-contents .display-4{
    font-weight: bolder;
}
.btn-orange{
    color: #fff;
    background-color: var(--primary-color);
    border-color:var(--primary-color);
}
.btn-outline-orange{
    color: var(--primary-color);
    border-color:var(--primary-color);
}
.btn-outline-orange:hover{
    color: black;
    background-color: orange;
    transform: scale(1.2);
}
.btn-outline-orange-2{
    color: var(--primary-color);
    border-color:var(--primary-color);
    background-color: white;
}
.btn-outline-orange-2:hover{
    color: black;
    background-color: orange;
    transform: scale(1.2);
    transition: 0.8s;
}
/* styling for menu section begins here */
.menu,.todays-promo{
    padding-top: 4em;
}
.food-pic{
    top: -12%; 
    left: 25%;
    filter: drop-shadow(2px 4px 16px black);
}
.food-pic-mobile{ 
    top: -4%;
    left: 22%; 
    filter: drop-shadow(2px 4px 16px black);
}
.food-info{
    padding: 5em 1em 2em 3em;
    background-color: rgb(255, 166, 0,.29);
    box-shadow:0 .5rem 1rem rgba(255, 166, 0,.2)!important
}
.food-info p{
    font-weight: bolder;
}
.food-info button{
    border-radius: 20px 0;
}
.add-button:hover{
    color: black!important;
}
.more{
    color: var(--primary-color);
}
.menu-mobile{
    overflow-x: auto;
}
.menu-mobile::-webkit-scrollbar{
    width: 0;
    scroll-behavior: smooth;
}
.menu-mobile div{
    margin-top: 1em;
    margin-right: 1em;
}
/* Styling for menu section ends here */
/* Styling for mobile-promo section starts here */
.promo{
    display: flex;
    min-width: 100vw;
    height: 15vh;
    overflow-x: auto;
}
.promo::-webkit-scrollbar{
    width: 0;
}
.promo div{
    width: 90vw;
    height: 99%;
    margin-right: 1em;
}
.promo div img{
    width: 90vw;
    height: 95%;
    border-radius: 25px;
    filter: brightness(.5);
}
.p-p{
    position: relative;
}
.ontop-pic{
    display: block;
    /* justify-content: space-between; */
    padding: 0 1.5em;
    color: var(--tet-color);
    font-weight: bolder;
    position: absolute;
    top: 28%;
    left: 30%;
    line-height: .4em;
}
/* Styling for mobile-promo section ends here */

/* Styling for testimonials section begins here */
.testimonies{
    border: 1px solid var(--tet-color);
    border-radius: 25px 0;
}
.rating{
    color: var(--primary-color);
}
/* Styling for testimonials ends here */

/* styling for login page starts here */
.login div label{
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-c-75{
    width: 75%;
}
.gugle{
    width: 2.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: .7em;
}
/* login styling ends here */

/* Cart page styling begins here */
.active2{
    /* styling below doesn't work, don't know why */
    background-color: rgba(0, 0, 0, 0.5);
}
.rounded2{
    border-radius: 50px;
}
.rounded3{
    border-radius: 30px;
}

/* Styling for cart page begins here */
.delete-icon:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.cart-img{
    /* height: 100%; */
}
.cart-img img{
    height: 12em;
    filter: drop-shadow(2px 4px 16px black);
}

/* Styling for cart page ends here */

/* Styling for user.html page starts jere */
.notifications-icon{
    background-color: white;
    border-radius: 50%;
}
.notifications-num{
    background-color: var(--primary-color);
    color: black;
    font-weight: bold;
    padding: .7em .5em;
    border-radius: 50%;
}
.todays-promo-user{
    padding-top: 1.5em;
}
.carousel-inner{
}
.carousel-item{
    margin-left: 2em;
}
.carousel-food-pic{
    top: -1.1%; 
    left: 25%;
}
.carousel-food-info{
    padding: 7.5em 1em 2em 3em;
    background-color: rgb(255, 166, 0,.29);
    box-shadow:0 .5rem 1rem rgba(255, 166, 0,.2)!important
}
.carousel-food-info p{
    font-weight: bolder;
}
/* Styling for user.html page ends here */
/* Dialog box starts here */
.dialog-box{
    border: 1px solid var(--tet-color);
    border-radius: 20px 20px 0 20px;
    padding: 0;
    width: 25em;
    height: 100%;
    position: relative;
}
.dialog-top{
    height: 4em;
    background-color: var(--primary-color);
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding: 1em;
}
.dialog-body{
    width: 100%;
    height: 12em;
}
.message-input{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 99.9%;
}
.message-send-btn{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
/* Dialog box ends here */

/* meal.html styling starts here */
.rating i{
    color: var(--primary-color);
}
/* meal.html styling ends here */
/* Styling for admin.hbs */
.todays-menu-mobile{
}
.admin-menu img{
    left: 26.5%;
}
.admin-menu div{
    margin-top: 4em;
    padding: 6em 1em 1em 3em;
}
.caret_down:hover,.caret_down2:hover{
    cursor: pointer;
}
/* Styling for admin.hbs ends here*/


/* Responsive design begins here */
@media screen and (width <= 768px) {
    .w-c-75{
        width: 90%;
    }
    .logo-anchor{
        display: none;
    }
    .hero{
        display: none;
    }
    /* .todays-promo-user-mobile{
        display: none;
    } */
    .testimonies{
        margin-bottom: 1.5em;
        padding: 1em;
    }
    .login-bg{
        background-image: linear-gradient(45deg,orange,#efd19a,white);
    }
    .password0{
        text-wrap: nowrap;
    }
    .register-bg{
        background-image: linear-gradient(45deg,white,#efd19a,orange);
    }
    .add-bg{
        background-image: linear-gradient(45deg,white, #efd19a);
    }
    .admin-greetings{
        display: none;
    }
    .reg p a{
        color: rgb(255, 255, 255);
    }
}
@media screen and (width >800px) {
    .promo-mobile-container{
        display: none;
    }
    .menu-mobile-container{
        display: none;
    }
    .testimonies{
        padding: 1em;
    }
    .add-bg{
        background-image: linear-gradient(45deg,orange,#efd19a,white);
    }
}